body {
  background-color: #282828;
}

a {
  color: #3389a0;
}

a:hover {
  color: #006c7f;
}


.index {
  width: 97%;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 40px;
}

.main {
  margin-top: 80px;
}

.lesson-container {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.lesson {
  margin: 20px;
}

.lesson-content {
  padding: 20px;
}

.lesson h1 {
  margin: 0;
  padding: 20px;
}


.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.example-table {
  border-collapse: separate;
}

.example-table td {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.example-table .current {
  background-color: #fcc;
}

.example-table .n {
  border-top-color: transparent;
}

.example-table .s {
  border-bottom-color: transparent;
}

.example-table .e {
  border-right-color: transparent;
}

.example-table .w {
  border-left-color: transparent;
}

.lesson-content table {
}

.lesson-content td {
  border: 1px solid black;
  padding: 8px;
}

.lesson-content td input {
  min-width: 300px;
}

.lesson-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-tweet {
  width: 100%;
  margin-top: 100px;
}

.fem-link {
  text-align: center;
}
